CIRCULAR_ARGENTINIAN_FLAG ICON "C:/git/sandbox/icons/circular_argentinian_flag.ico"
CIRCULAR_AUSTRIAN_FLAG ICON "C:/git/sandbox/icons/circular_austrian_flag.ico"
CIRCULAR_GERMAN_FLAG ICON "C:/git/sandbox/icons/circular_german_flag.ico"
CIRCULAR_ITALIAN_FLAG ICON "C:/git/sandbox/icons/circular_italian_flag.ico"
FAMILY_FINANCES_FOLDER ICON "C:/git/sandbox/icons/family_finances_folder.ico"
GERMAN_FLAG ICON "C:/git/sandbox/icons/german_flag.ico"
